@model InvScan.Models.ManageUserViewModel

<p>
    Sie besitzen keinen lokalen Benutzernamen bzw. kein lokales Kennwort für diese Website. Fügen Sie ein lokales
    Konto hinzu, damit Sie sich ohne eine externe Anmeldung anmelden können.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

     <fieldset class="form-horizontal">
        <legend>Lokale Anmeldung erstellen</legend>
         <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>      
        <div class="form-actions no-color">
            <input type="submit" value="Kennwort festlegen" class="btn" />
        </div>
    </fieldset>
}
